@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Você pode usar esse código do jeito que preferir, podendo usá-lo como exemplo e/ou para estudar</p>
<p>Criado por Yasmin Wichinievski Zimermann, 2022 - Curitiba/PR</p>
